<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <!--/*/<th:block th:insert="fragments/layout.html :: headFragment"/>/*/-->
  <style>
    html {
      overflow-y: scroll;
    }
  </style>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha384-JPbtLYL10d/Z1crlc6GGGGM3PavCzzoUJ1UxH0bXHOfguWHQ6XAWrIzW+MBGGXe5" crossorigin="anonymous"></script>
  <script th:replace="fragments/scripts.html :: datatables-api-row-show"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
      var hrefContext = /*[[@{/}]]*/ '';
      if (hrefContext.endsWith('/')) {
          hrefContext = hrefContext.slice(0, -1);
      }
    /*]]>*/
  </script>
  <script type="text/javascript" language="javascript">
      $(document).ready(function() {
          var messageDetailsArrowClicked = function () {
              if ($(this).hasClass('down')) {
                  $(this).removeClass('down');
                  $(this).addClass('up');
              } else {
                  $(this).removeClass('up');
                  $(this).addClass('down');
              }
          };
          var table = $('#all-feedback').DataTable({
              stateSave: true,
              language: {
                  zeroRecords: "No feedback yet"
              },
              ajax: "/data/feedback",
              columnDefs: [
                  {
                      targets: 0,
                      createdCell: function (td, cellData) {
                          var changeDate = moment(cellData);
                          $(td).text(changeDate.format('YYYY-MM-DD HH:SS'))
                      }
                  },
                  {
                      targets: 3,
                      createdCell: function (td, cellData) {
                          if (cellData.message.length <= 50) {
                              $(td).html($('#shortMessageTemplate').clone());
                              $('.person-placeholder', td).attr('href', hrefContext + '/feedback?personId=' + cellData.personId).removeClass('person-placeholder');
                              $('.message-placeholder', td).text(cellData.message).removeClass('message-placeholder');
                          } else {
                              $(td).html($('#longMessageTemplate').clone());
                              $('.person-placeholder', td).attr('href', hrefContext + '/feedback?personId=' + cellData.personId).removeClass('person-placeholder');;
                              $('.message-placeholder', td).text(cellData.message).removeClass('message-placeholder');
                              $('.collapse-message-details-placeholder', td).attr('href', '#collapsedMessageDetails-' + cellData.feedbackId).removeClass('collapse-message-details-placeholder');
                              $('.message-details-id-placeholder', td).attr('id', 'collapsedMessageDetails-' + cellData.feedbackId).removeClass('message-details-id-placeholder');
                              var messageDetailsContent = $('.message-details-placeholder', td).removeClass('message-details-placeholder');
                              cellData.message.split(/\r?\n/).forEach(function (messageLine) {
                                  messageDetailsContent.append($('<p></p>').text(messageLine));
                              });
                              $('.message-details', td).click(messageDetailsArrowClicked)
                          }
                      }
                  }
              ],
              createdRow: function (tr, rowData) {
                  $(tr).attr('id', 'row-' + rowData[3].feedbackId);
                  if (rowData[5] + 6000 > new Date().getTime()) {
                      $(tr).addClass('recent');
                  }
              },
              initComplete: function () {
                  var rows = table.rows('.recent');
                  if (rows.any()) {
                      var lastRowIndex = rows.count() - 1;
                      rows.every(function (rowNum, tableIndex, rowIndex) {
                          if (rowIndex !== lastRowIndex) {
                              return;
                          }
                          this.show().draw('page');
                      });
                      rows.nodes().to$().css('background-color', 'yellow');
                      rows.nodes().to$().animate({
                          backgroundColor: "inherit"
                      }, 5000, "swing");
                  }
              }
          });
      } );
  </script>
</head>
<body>
<!--/*/<th:block th:replace="fragments/layout.html :: headerFragment"></th:block>/*/-->
<div class="card">
  <div class="card-body">
    <h3 class="card-title" id="title">Feedback</h3>
    <table class="table table-bordered table-condensed" id="all-feedback">
      <thead>
      <tr>
        <th scope="col" class="col-sm-2">Date</th>
        <th scope="col" class="col-sm-2">First Name</th>
        <th scope="col" class="col-sm-2">Last Name</th>
        <th scope="col" class="col-sm-6">Message</th>
      </tr>
      </thead>
    </table>
    <a href="#" th:href="@{/feedback}" class="btn btn-primary"><i class="fa fa-plus"></i> New person feedback</a>
  </div>
</div>
<!--/*/<th:block th:replace="fragments/layout.html :: footerFragment"></th:block>/*/-->
<div style="display: none">
  <span id="shortMessageTemplate">
    <a class="person-placeholder" href="#"><i class="fa fa-plus"></i></a>
    <span class="d-inline-block text-truncate message-placeholder" style="max-width: 50ch;"></span>
  </span>
  <span id="longMessageTemplate">
    <a class="person-placeholder" href="#"><i class="fa fa-plus"></i></a>
    <span class="d-inline-block text-truncate message-placeholder" style="max-width: 50ch;"></span>
    <a class="collapse-message-details-placeholder" href="#collapsedMessageDetails" data-toggle="collapse">
      <i class="message-details arrow down"></i>
    </a>
    <div class="collapse message-details-id-placeholder" id="collapsedMessageDetails">
      <div class="card card-body message-details-placeholder"></div>
    </div>
  </span>
</div>
</body>
</html>